/*
Main Orange Color: #e67e22
*/
/*-----------------------------------------------------------------*/
/* Basic Setup */
/*-----------------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*-----------------------------------------------------------------*/
/* Global Components */
/*-----------------------------------------------------------------*/

.row {
    max-width: 1920px;
    margin: 0 auto;
}

/*-----HEADINGS-----*/
h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-size: 475%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

/*-----BUTTONS-----*/
.btn:link, 
.btn:visited {
    display: inline-block;
    /*allows us to have heading and margin and doesn't force margin*/
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 200ms, border 200ms, color 200ms;
}

.btn-full:link, 
.btn-full:visited {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link, 
.btn-ghost:visited {
    color: #e67e22;
    border: 1px solid #e67e22;
}

.btn:hover, 
.btn:active {
    background-color: #cf6d17;
}

.btn-full:hover, 
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover, 
.btn-ghost:active {
    color: #fff;
    border: 1px solid #cf6d17;
}

/*-----------------------------------------------------------------*/
/* HEADER */
/*-----------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1920px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
}

.main-nav li { 
display: inline-block;
margin: 60px 0 0 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent; /* this will allow the transition to happen only on hover */
    transition: border-bottom 200ms;
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}